.menu-wrapper {
    position: fixed;
    z-index: 10000;
    width: 100vw;
    background-color: #fff;
    background: linear-gradient(270.46deg, #6F4DF5 -17.19%, rgba(245, 78, 249, 0.47) 117.02%);
    box-shadow: 0px 9px 20px rgba(245, 78, 249, 0.47);
}
.menu {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.search {
    padding-left: 20px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 12px 4px rgba(245, 78, 249, 0.47);
    border: none;
    height: 32px;
    width: 500px;
    font-family: Golos;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.search::placeholder {
    color: #9F9F9F;
}
.user-menu {
    height: 60px;
    display: flex;
}
.user-menu__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-menu__name {
    font-family: Golos;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.user-menu__role {
    font-family: Golos;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #BFBFBF;
}
.user-menu__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
    border: 3px solid #f9f9f9;
    cursor: pointer;
}

.profile-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 100px;
    width: 350px;
    background-color: #fff;
    padding: 35px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.profile-mini--inactive {
    display: none;
}

.profile-mini__photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.profile-mini__name {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.profile-mini__email {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #8A8A8A;
}

.profile-mini__button {
    margin-top: 25px;
    height: 50px;
    width: 180px;
}

@media (max-width: 1140px) {
    .search {
        width: 300px;
    }
}

@media (max-width: 960px) {
    .menu {
        padding: 0 40px;
    }
}

@media (max-width: 720px) {
    .search {
        display: none;
    }
    .menu {
        padding: 0 20px;
    }
}