.unit {
    position: relative;
    display: flex;
    flex-direction: column;
}
.unit__cover {
    height: 120px;
    display: flex;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.15);
}
.unit__number-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(245, 78, 249, 0.47) 0%,
    rgba(181, 78, 247, 0.628715) 48.1%, rgba(111, 77, 245, 0.8) 100%);
    width: 120px;
}
.unit__number {
    font-family: Golos;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 115px;
    color: #FFFFFF;
}
.unit__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
}
.unit__image-box {
    box-sizing: border-box;
    height: 120px;

}
.unit__image {
    padding: 15px;
    height: 100%;
}
.unit__name {
    margin: 0;
    font-family: Golos;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
}
.unit__text {
    max-width: 700px;
    margin: 0;
    font-family: Golos;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8A8A8A;
}
.unit__more {
    height: 16px;
    position: absolute;
    right: 15px;
    top: 15px;
}


.lessons {
    display: flex;
}
.lessons a {
    text-decoration: none;
}
.lesson-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.15);
    height: 75px;
    width: 75px;
    margin: 15px 15px 0 0;
}
.lesson__caption {
    font-family: Golos;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #4F4F4F;
    margin-bottom: 5px;
}
.lesson__number {
    font-family: Golos;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #4F4F4F;
}

@media (max-width: 1350px) {
    .unit__cover {
        padding-right: 30px;
    }
}

@media (max-width: 1200px) {
    .unit__cover {
        height: 150px;
    }
    .unit__image-box {
        height: 150px;
    }
}

@media (max-width: 860px) {
    .unit__cover {
        height: 170px;
    }
    .unit__image-box {
        height: 170px;
    }
    .unit__text {
        max-width: 300px;
    }
}

@media (max-width: 720px) {
    .unit__image-box {
        display: none;
    }
    .unit__info {
        padding-left: 15px;
    }
}

@media (max-width: 580px) {
    .unit__cover {
        height: 200px;
    }
}