@import "components/auth/signup-page/signup-page.css";
@import "components/auth/login-page/login-page.css";
@import "components/menu/menu.css";
@import "components/sidebar/sidebar.css";

.button {
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
}
.button--active {
    background: linear-gradient(180deg, rgba(245, 78, 249, 0.47) 0%, #6F4DF5 100%);
    border: none;
    color: white;
}




